{% extends "ppredict/base_materialize.html" %}
{% load static %}
{% block content %}
    <!--TODO: Update ids to match final section names -->
    <div class="col s12 m9 l10">
      <div id="introduction" class="section scrollspy">
        <div class="container">
            <h1>Welcome</h1>
            <h3>
                All About U.S. Elections (in 5 Minutes or Less)
            </h3>
            <figure>
                <img src="{% static 'ppredict/2020_hexbin.svg' %}" alt="2020 election map" class="responsive-img">
                <figcaption>2020 Presidential election map showing how each state voted.</figcaption>
            </figure>

        <p> {% lorem 5 p random %} </p>
        </div>
      </div>

      <div id="methods" class="section scrollspy">
          <div class="container">
              <h1>Methods</h1>
              <p>{% lorem 10 p random %}</p>
          </div>
      </div>

      <div id="about" class="section scrollspy">
          <div class="container">
            <h1>About</h1>
              <p>{% lorem 2 p random %}</p>
          </div>
      </div>
    </div>
{% endblock %}